
  {{ partial "header" . }}

 
<div class="container-fluid " style="height:120vh!important" >


</br></br></br></br></br>
  <!-- {{ partial "dashboard/topBar" . }} -->
  <div class="row" >

    {{ partial "dashboard/dashboardHeader" . }}
    {{ partial "dashboard/sideBarMenu" . }}
 

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard </h1><div id="parent">Welcome to the Portal, John<div id="border"></div></div>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

    
      <!-- {{ partial "dashboard/chart" . }} -->
    <div id="Div"  class="item" style="display: none;">{{ partial "dashboard/searchFilter" . }}</div> 
      <div id="Div2" class="item" style="display: none;"> {{ partial "dashboard/openCallsTable" . }}</div>
      <div id="Div3" class="item" style="display: none;">{{ partial "dashboard/closedCallsTable" . }} </div>
      <div id="Div4" class="item" style="display: show"> {{ partial "dashboard/defaultDashboard" . }}</div>
      <div id="Div5" class="item" style="display: none"> {{ partial "dashboard/visitCalender" . }}</div>


          </div>
    </main>

</div>
