
  {{ partial "header" . }}
<div class="">
<div class="col-3">
  <div class="paper shadow">
    <div class="pin">
      <div class="shadowpaper"></div>
      <div class="metal"></div>
      <div class="bottom-circle"></div>
    </div>
    <p style="font-size:2em"><strong >Closed Calls </strong></br>
 <span style="font-size:.5em; color:#0d6efd!important"> Service Completed <strong>345</strong></span> </br>
 <span style="font-size:.5em; color:#6c757d">  Closed <strong>1034</strong></span></br>
 <span style="font-size:.5em; color:#198754"> Invoiced <strong>76</strong></span></br>
 <span style="font-size:.5em ; color:#dc3545"> All Closed Calls <strong>678</strong> </span></p>
  </div>

</div>

<div class="col-md-auto">
<div id="paper" style="top:-14vh!important" >
  <h1 style="margin-left:1.5em"><strong>Open Calls</strong></h1> 
  <div id="pattern">
    
    <div id="content">
     
     <span style="color:#0d6efd!important"> Scheduled <strong>67</strong></span> </br>
     <span style="color:#6c757d!important"> Pending Initial Visit <strong>15</strong></span> </br>
     <span style="color:#198754!important"> Pending Return Visit<strong>5</strong></span> </br>
     <span style="color:#dc3545!important"> Guard On Site<strong>57</strong></span> </br>
     <span style="color:#ffc107!important"> Night Time Follow Up <strong>34</strong></span> </br>
     <span style="color:#0dcaf0!important"> New <strong>11</strong></span> </br>
     <span style="color:#000!important"> Service Completed <strong>125</strong></span> </br>
     <span style="color:#212529!important"> NTE Increase Needed <strong>56</strong></span> </br>
     <span style="color:#6c757d!important" > Waiting on Corporate <strong>77</strong></span> </br>
     <span style="color:#0dcaf0!important"> Need PO <strong>3</strong></span> </br>
     <span style="color:#212529!important"> All Open <strong>300</strong></span> </br>
         </div>
  </div>
</div>
</div>
</div>


<div class="col col-lg-2">
  <div class="item2" style="width:25vw; margin-top:-70vh!important; z-index:10000; ">
    <div class="polaroid">  <img   srcset="/docs/{{ .Site.Params.docs_version }}/assets/img/motivational.jpg, "alt="RSS Motivational Quote" loading="lazy">
     
      <div class="caption">Retail Security Services</div>
      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://retailsecurityservices.com&amp;title=The title of the page or post&amp;summary=&amp;source=Siam-Communications" target="_new" rel="noopener noreferrer">
        <img title="linkedin sharing button"  style=" width:80px; height:auto"  srcset="/docs/{{ .Site.Params.docs_version }}/assets/img/linkedin.png", alt="linkedin sharing button" />
        </a>
    </div>

  </div>
</div>

