 
 <div class="row">
  <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Scheduled</br></br><strong style="font-size: 3em">99</strong></button>
  <button type="button" class="btn btn-secondary">Visit Complete</br><strong style="font-size: 3em">22</strong></button>
  <button type="button" class="btn btn-success">Cancelled </br><strong style="font-size: 3em">5</strong></button>
  <button type="button" class="btn btn-danger">Minimum Charge</br><strong style="font-size: 3em">57</strong></button>
  

 

  </div>

  </div>