
<h1>Filter Search</h1>

<form >
    <div class="row">
        <div class="col-md-4">   <div class="form-row">
            <div class="form-group ">
              <label for="location">Location</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Location"></input>
            </div>
            <div >   <label for="inputServiceType">Status</label>
                <select id="inputServiceType" class="form-control">
                  <option selected>Choose...</option>
                  <option>Scheduled</option>
                  <option>Pending</option>
                  <option>Option 3</option>
                  <option>Option 4</option>
                  <option>Option 5</option>
                </select></div>
          </div></div>

        <div class="col-md-4">   <label for="inputServiceType">Service Type</label>
            <select id="inputServiceType" class="form-control">
              <option selected>Choose...</option>
              <option>Armed</option>
              <option>Unarmed</option>
              <option>Temporary</option>
              <option>Permanent</option>
              <option>Undercover</option>
            </select></div>

        <div class="col-md-4">   <label for="inputDateRange">Visit Date</label>
            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down"></i>
            </div></div>
      </div>

 
    </br>

  

    <button onclick ="myFunction('myDiv');" type="button" class="btn btn-primary">Submit</button>
  </form>






